In [2]:
import pandas as pd

In [3]:
train_data = pd.read_csv('big_train.csv', index_col = 'client_id')

In [4]:
train_data.head()

,sum,count,small_group_count0,small_group_count1,small_group_count2,small_group_count3,small_group_count4,small_group_count5,small_group_count6,small_group_count7,...,is_small_group_week195,is_small_group_week196,is_small_group_week197,is_small_group_week198,is_small_group_week199,is_small_group_week200,is_small_group_week201,is_small_group_week202,is_small_group_week203,bins
client_id,,,,,,,,,,,,,,,,,,,,,
4,28404.121,720,0.0,447.0,1.0,44.0,93.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
6,15720.739,730,2.0,397.0,0.0,172.0,10.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
7,53630.036,773,2.0,79.0,5.0,27.0,19.0,1.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
10,34419.365,706,12.0,309.0,1.0,71.0,65.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,3
11,26789.404,812,2.0,423.0,0.0,59.0,23.0,3.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,3